<li class="nav-item">
  <%= link_to t('navigation.home'), root_path, class: 'nav-link' %>
</li>

<%= yield(:navigation_menu) %>

<li class="nav-item">
  <%= link_to t('navigation.contact'), contact_path, class: 'nav-link' %>
</li>

<%# Devise %>
<% if user_signed_in? %>
  <li class='nav-item dropdown'>
    <a href="#" class='nav-link dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>
      <b><%= current_user.full_name %></b> <span class="caret"></span>
    </a>
    <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
      <%= link_to t('navigation.edit-profile'), edit_user_registration_path, class: 'dropdown-item' %>
      <div role='separator' class='dropdown-divider'></div>
      <a href="#">
        <%= link_to t('navigation.sign-out'), destroy_user_session_path, method: 'delete', class: 'dropdown-item' %>
      </a>
    </div>
  </li>
<% else %>
  <li class='nav-item'>
    <%= link_to t('navigation.sign-up'), new_user_registration_path, class: 'nav-link' %>
  </li>
  <li class='nav-item'>
    <%= link_to t('navigation.sign-in'), new_user_session_path, class: 'nav-link' %>
  </li>
<% end %>
